@model Store_AddManagerViewModel
@{
    ViewData["Title"] = "MyStores";
}
<h2>Store: @Model.S.StoreName</h2>
<button onclick="show_add_owner_form()" id="addOwnerButton">
    @if (ViewData["ownererr"] != null && (bool)ViewData["ownererr"])
    {
        <font>Hide</font>
    }
    else
    {
        <font>Add Owner</font>

    }
</button>
<div id="addOwnerDiv" style="visibility: @(((bool)ViewData["ownererr"])?"visible":"hidden");">
    @if (ViewData["ownererr"] != null && (bool)ViewData["ownererr"])
    {
        <font color="red">could not add Owner</font>
    }
        <form action="/Home/AddOwnerForm" method="post">
            <font color="black">Owner Name: </font>
            <input type="text" name="ownername" title="ownername" />
            @Html.TextBoxFor(s => Model.S.StoreName,null,new { @style= "visibility: hidden;" })<br />
            <input type="submit" />
        </form>
</div>

<button onclick="show_add_manager_form()" id="addManagerButton">
    @if (ViewData["managererr"] != null && (bool)ViewData["managererr"])
    {
        <font>Hide</font>
    }
    else
    {
        <font>Add Manager</font>

    }
</button>
<div id="addManagerDiv" style="visibility:@(((bool)ViewData["managererr"])?"visible":"hidden");">
    @using (Html.BeginForm("AddManagerForm", "Home", FormMethod.Post))
    {
        @if (ViewData["managererr"] != null && (bool)ViewData["managererr"])
        {
    <font color="red">could not add Manager</font><br />
        }
    <font color="black">Manager Name: </font>
        @Html.TextBoxFor(s => s.AM.Name)
        @Html.TextBoxFor(s => Model.S.StoreName, null, new { @style = "visibility: hidden;" })<br />
        <font>Add Permission:</font> @Html.CheckBoxFor(s => s.AM.AddPermission)
        <font>Remove Permission:</font> @Html.CheckBoxFor(s => s.AM.RemovePermission)
        <font>Update Permission:</font> @Html.CheckBoxFor(s => s.AM.UpdatePermission)
        <input type="submit" />
    }
</div>

<script>
    document.getElementById("storename").value = @ViewData["storename"];
    function show_add_owner_form() {
        var isHidden = document.getElementById("addOwnerDiv").style.visibility === "hidden";
        document.getElementById("addOwnerDiv").style.visibility = isHidden ? "visible" : "hidden";
        document.getElementById("addOwnerButton").innerHTML = isHidden ? "Hide" : "Add Owner";

    }

    function show_add_manager_form() {
        var isHidden = document.getElementById("addManagerDiv").style.visibility === "hidden";
        document.getElementById("addManagerDiv").style.visibility = isHidden ? "visible" : "hidden";
        document.getElementById("addManagerButton").innerHTML = isHidden ? "Hide" : "Add Manager";

    }
</script>


